body {
    margin: 0;
    background-color: rgb(242, 243, 243);
}

.body {
    width: 1010px;
    padding: 36px;
    background-color: white;
} 


.body--center {
    margin: 8px auto;
}



.spin--center {
    display: flex;
    justify-content: center;
}

@media (max-width: 560px){
    .body {
        width: 505px;
        padding: 16px;
    } 

    .body--center {
        margin: 0;
    }
}